name: Artifact Uploading

on:
  workflow_call:
    inputs:
      flutter_channel:
        required: false
        type: string
        default: "stable"
      flutter_version:
        required: false
        type: string
        default: ""

jobs:
  build-and-upload:
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            artifact: apk
            build_command: flutter build apk --release
            artifact_path: build/app/outputs/flutter-apk/app-release.apk
          - os: macos-latest
            artifact: ios
            build_command: flutter build ios --release --no-codesign
            artifact_path: build/ios/iphoneos/Runner.app
          - os: macos-latest
            artifact: macos
            build_command: flutter build macos --release
            artifact_path: build/macos/Build/Products/Release/Runner.app
          - os: ubuntu-latest
            artifact: web
            build_command: flutter build web
            artifact_path: build/web
          - os: windows-latest
            artifact: windows
            build_command: flutter build windows --release
            artifact_path: build/windows/runner/Release/Runner.exe

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set Up Flutter
        uses: subosito/flutter-action@v2
        with:
          # Use the specified Flutter version or fallback to the default
          flutter-version: ${{inputs.flutter_version}}
          # Use the specified Flutter channel or fallback to the default (stable)
          channel: ${{inputs.flutter_channel}}
          # Enable caching and generate a unique cache key based on pubspec.lock
          cache: true
          cache-key: flutter-:os:-:channel:-:version:-:arch:-:hash:-${{ hashFiles('**/pubspec.lock') }}

      - name: Build Flutter Project
        continue-on-error: true
        run: |
          flutter pub get
          ${{ matrix.build_command }}

      - name: Upload Artifact
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: flutter-${{ matrix.artifact }}-artifact
          path: ${{ matrix.artifact_path }}